body {
  font-family: 'Roboto', sans-serif;
  color: #444;
}

.wrapper {
  max-width: 500px;
  margin: 40px auto 0;
  padding: 0 20px;
}

.app {
  padding: 0 20px 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

h1 {
  text-align: center;
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  line-height: 2;
}

#counter {
  margin-bottom: 10px;
  font-size: 18px;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

#startBtn {
  width: 80px;
  background: #007C21;
  color: #fff;
}

#recordBtn {
  background: #1A1918;
  color: #fff;
}

#resetBtn {
  background: #FF0000;
  color: #fff;
}